<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net472" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="88.0.4324.9600" targetFramework="net472" />
  <package id="Selenium.WebDriver.WaitExtensions" version="2.0.0" targetFramework="net472" />
  <package id="WebGrease" version="1.6.0" targetFramework="net472" />
</packages>